/* Style variables */

:root {
    --color-light: hsl(35, 45%, 83%);
    --color-dark: hsl(198, 82%, 9%);
    --color-primary: hsl(175, 43%, 64%);
    --color-secondary: hsl(175, 43%, 47%);
    --color-link: hsl(10, 84%, 76%);
    --color-correct: #4CAF50; /* Green for correct */
    --color-incorrect: #F44336; /* Red for incorrect */

    --bg-color: var(--color-dark);
    --text-color: var(--color-light);
    --highlight-color: hsl(0, 0%, 100%);
}

/* Reset styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

button, select {
    border: none;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    font-family: "Space Mono", monospace;
}

/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    height: 100dvh;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: "Space Mono", monospace;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Informations */

#informations {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chord {
    font-size: 6rem;
    margin-bottom: 32px;
    text-align: center;
}

#chord.correct {
    color: var(--color-correct);
    transition: color 0.3s ease-in-out;
}

#notes {
    font-family: monospace;
    font-style: italic;
}

#velocity {
    display: none;
}

#intervals {
}

/* Piano keyboard */

#keyboard {
    /* position: fixed;
    bottom: 0;
    left: 0; */
    user-select: none;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-x: auto;
}

.key {
    width: 30px;
    height: 150px;
    border: 1px solid var(--bg-color);
    background-color: var(--text-color);
    margin-right: -1px;
    z-index: 1;
    font-size: 8px;
    color: gray;
    display: flex;
    align-items: end;
    justify-content: center;
    transition: all ease-in-out 100ms;
}

.key.black {
    width: 20px;
    height: 100px;
    background-color: var(--bg-color);
    /* border: 1px solid var(--bg-color); */
    margin-left: -10px;
    margin-right: -10px;
    z-index: 2;
}

.key.active {
    background-color: var(--highlight-color);
    /* border: 1px solid var(--bg-color); */
    margin-top: 4px;
}

.key.black.active {
    background-color: var(--highlight-color);
    margin-top: 4px;
}

.key.correct {
    background-color: var(--color-correct) !important;
}

.key.incorrect {
    background-color: var(--color-incorrect) !important;
}

/* Exercice */

#sound-toggle {
    position: fixed;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1rem;
    color: var(--text-color);
    cursor: pointer;
}

/* Switch container */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Hide the default checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider styling */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-dark);
    border: 1px solid var(--text-color);
    border-radius: 20px;
    transition: all 0.3s ease;
}

/* Slider circle */
.slider::before {
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: var(--text-color);
    border-radius: 50%;
    transition: all 0.3s ease;
}

/* Checked state */
.switch input:checked + .slider {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.switch input:checked + .slider::before {
    transform: translateX(20px);
    background-color: var(--bg-color);
}

#settings-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 24px;
}

#exercise-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    margin-bottom: 24px;
}

select {
    margin-left: 48px;
    font-size: 16px;
    color: var(--text-color);
    transition: all ease-in-out 250ms;
}

#toggle-notation {
    font-size: 12px;
    padding: 4px 8px;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    transition: all ease-in-out 250ms;
}

#toggle-notation:hover {
    background-color: hsla(35, 45%, 83%, .2);
}

/* Button styles */
.button {
    font-size: 14px;
    padding: 6px 12px;
    border: solid 1px var(--text-color);
    color: var(--text-color);
    background-color: transparent;
    cursor: pointer;
    transition: all ease-in-out 250ms;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between; /* Ensure text and icon are spaced */
    gap: 8px; /* Add spacing between text and icon */
}

.button svg {
    flex-shrink: 0; /* Prevent the icon from shrinking */
}

.button:hover {
    background-color: hsla(35, 45%, 83%, .2);
}

.button.primary {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.button.primary:hover {
    background-color: hsla(175, 43%, 47%, 0.2);
}

.button.secondary {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.button.secondary:hover {
    background-color: hsla(175, 39%, 25%, 0.2);
}

.button.danger {
    color: var(--color-incorrect);
    border-color: var(--color-incorrect);
}

.button.danger:hover {
    background-color: hsla(0, 79%, 63%, 0.2);
}

#stop-exercise {
    color: var(--color-incorrect);
    border: none;
}

#new-note {
    color: var(--color-primary);
    border: none;
}

#replay-note svg,
#new-note svg {
    width: 16px;
    height: 16px;
    fill: currentColor; /* Match the icon color with the text color */
}

/* Updated styles for exercise buttons */
#exercise-container .button {
    font-size: 16px; /* Increase font size */
    padding: 8px 16px; /* Add more padding for a larger button */
    border: solid 1px var(--text-color);
    color: var(--text-color);
    background-color: transparent;
    cursor: pointer;
    transition: all ease-in-out 250ms;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Add spacing between text and icon */
}

#exercise-container .button:hover {
    background-color: hsla(35, 45%, 83%, .2);
}

#exercise-container .button.primary {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

#exercise-container .button.primary:hover {
    background-color: hsla(175, 43%, 47%, 0.2);
}

#exercise-container .button.secondary {
    color: var(--color-secondary);
    border-color: transparent;
}

#exercise-container .button.secondary:hover {
    background-color: hsla(175, 39%, 25%, 0.2);
}

#exercise-container .button.danger {
    color: var(--color-incorrect);
    border-color: transparent
}

#exercise-container .button.danger:hover {
    background-color: hsla(0, 79%, 63%, 0.2);
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    #exercise-container {
        flex-direction: column-reverse; /* Reverse the order of buttons */
        align-items: center;
        gap: 12px; /* Increase spacing between buttons */
    }

    #exercise-container .button {
        font-size: 18px; /* Slightly bigger font size */
        padding: 10px 16px; /* Increase padding for better touch targets */
    }

    #informations {
        padding: 16px; /* Add padding for better spacing on smaller screens */
    }

    #chord {
        font-size: 4rem; /* Reduce font size for smaller screens */
        margin-bottom: 16px; /* Adjust spacing */
    }

    #notes {
        font-size: 1.2rem; /* Ensure notes are readable on smaller screens */
        text-align: center;
    }

    #velocity {
        font-size: 1rem; /* Adjust font size for better readability */
    }

    #intervals {
        font-size: 1rem; /* Adjust font size for better readability */
    }
}